<div class="container mb-3">
  <h1>List of issues</h1>

  <button class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD NEW ISSUE</button>
<!-- 
  TODO ADD BUTTONS FOR PRIORITY WITH DIFFERENT COLORS AND TYPE -->
  <div class="row gy-2">
    <div class="col-sm-12 col-md-4" *ngFor="let issue of issues">
      <div class="card">
        <div [ngSwitch]="issue.priority" class="card-header">Priority: 
            <span *ngSwitchCase="0" class="badge bg-success">Low</span>
            <span *ngSwitchCase="1" class="badge bg-warning">Medium</span>
            <span *ngSwitchCase="2" class="badge bg-danger">High</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            ID: {{ issue.id }} <br />
            TITLE: {{ issue.title }}
          </h5>
          <p class="card-text">DESCRIPTION: {{ issue.description }}</p>
          <a data-bs-toggle="modal" data-bs-target="#exampleModalEditing" (click)="fillForm(issue)" class="btn btn-primary">EDIT</a>
          <a (click)="deleteIssue(issue.id)" class="btn btn-danger delete-button"
            >DELETE</a
          >
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal For Adding-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new issue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="myForm">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Title</label>
                    <input formControlName="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Create a new resource ...">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Description</label>
                    <input formControlName="description" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description for request ...">
                  </div>
                  <select formControlName="priority" class="form-select mb-2" aria-label="Default select example">
                    <option value="null" disabled="true" [selected]="true">Select a priority</option>
                    <option value=0 >Low</option>
                    <option value=1 >Medium</option>
                    <option value=2 >High</option>
                  </select>
                  <select formControlName="issueType" class="form-select" aria-label="Default select example">
                    <option value="null" disabled="true" [selected]="true">Select a type</option>
                    <option value=0 >Feature</option>
                    <option value=1 >Bug</option>
                    <option value=2 >Documentation</option>
                  </select>
            </form>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addIssue()">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Modal For UPDATING-->
    <div class="modal fade" id="exampleModalEditing" tabindex="-1" aria-labelledby="exampleModalLabelEditing" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit issue</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Title</label>
                        <input formControlName="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Create a new resource ...">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description for request ...">
                      </div>
                      <select formControlName="priority" class="form-select mb-2" aria-label="Default select example">
                        <option value="null" disabled="true" [selected]="true">Select a priority</option>
                        <option value=0 >Low</option>
                        <option value=1 >Medium</option>
                        <option value=2 >High</option>
                      </select>
                      <select formControlName="issueType" class="form-select" aria-label="Default select example">
                        <option value="null" disabled="true" [selected]="true">Select a type</option>
                        <option value=0 >Feature</option>
                        <option value=1 >Bug</option>
                        <option value=2 >Documentation</option>
                      </select>
                </form>
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateIssue()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    